body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button_wrapper {
    display: flex;
    gap: 5vw;
    padding: 2vh;
}

img {
    width: 40vw;
    display: block;
}
